body{
    margin:0;
    padding:0;
}
.container{
     margin:0;
    padding:0;
}
.navbar ul li{
    display: inline-block;
    padding-right: 20px;
    font-size: larger;

}
.navbar{
    background-color:bisque;
    border:1px solid white;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
    
}
.navbar ul li a:hover{
    color:green;

}
#logo{
    padding-right: 800px;
    padding-left: 15px;
    font-weight: bold;
}
.homebody{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.hometext{
    background-image: url(WhatsApp\ Image\ 2025-11-21\ at\ 20.49.43_59ad4aa0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px;
    width: 1000px;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hometext button{
    margin-top: 15px;
    padding: 10px 20px;
    border-radius:5px;
    border: none;
    cursor: pointer;
}
.top-picks{
    text-align: center;
    padding: 50px 20px;
}
.top-picks h2 {
    font-size: 28px;
    margin-bottom: 40px;
}
.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.item{
    background-color: #e4e0e0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgb(0, 0, 0.1);
    width: 150px;
    text-align: center;
}
.item img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.item p{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color:#333;
}
/*recommended products*/

.recommended{
    padding: 40px 20px 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(280px,1fr));
    gap:24px;
    margin-top: 30px;
}
.product-card{
    background-color: #fff;
    border-radius: 28px;
    padding: 12px 12px 12px;
    display:flex;
    flex-direction: column;
    gap:18px;
}

.product-img{
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    height: 360px;
}
.product-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease;
}
.secondary{
    opacity: 0;
}
.product-card:hover .primary{
    opacity: 0;
}
.product-card:hover .secondary{
    opacity: 1;
}